@font-face {
    font-family: "star";
    src: url("../font/Starjedi.ttf");
          
   }
   body{
       font-family: "star";
       background-image: url("../../datas/images/co341S.jpg");
   }
   .cc{
       object-fit: cover;
       object-position: center;
   }