@font-face {
    font-family: "star";
    src: url("../datas/images/font/Starjedi.ttf");
          
   }
   body{
       font-family: "star";
       background-image: url("../datas/images/paypal/co341S.jpg");
   }
   .cc{
       object-fit: cover;
       object-position: center;
   }